In [3]:
# Instalar PySpark via pip
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("satvshr/top-4-used-car-sales-datasets-combined")

print("Path to dataset files:", path)

path = kagglehub.dataset_download("octopusteam/imdb-top-rated-titles-movies-and-tv-series")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Downloading from https://www.kaggle.com/api/v1/datasets/download/satvshr/top-4-used-car-sales-datasets-combined?dataset_version_number=2...

100%|██████████| 446k/446k [00:00<00:00, 61.5MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Downloading from https://www.kaggle.com/api/v1/datasets/download/octopusteam/imdb-top-rated-titles-movies-and-tv-series?dataset_version_number=13...

100%|██████████| 140k/140k [00:00<00:00, 43.5MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/octopusteam/imdb-top-rated-titles-movies-and-tv-series/versions/13

In [29]:
# Iniciar uma Sessão Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploPySpark") \
    .getOrCreate()

In [30]:
import pandas as pd
df_pandas = pd.read_csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv")

In [14]:
df_pandas.head(4)

,brand,model,transmission,age,fuel,engine,km,owner,price,location,mileage,power,seats,type
0,mahindra,thar,manual,4.0,diesel,2184.0,11003.0,1.0,1231000.0,NaN,NaN,NaN,NaN,NaN
1,hyundai,verna,manual,6.0,petrol,1591.0,66936.0,1.0,786000.0,NaN,NaN,NaN,NaN,NaN
2,tata,harrier,manual,2.0,diesel,1956.0,27990.0,1.0,1489000.0,NaN,NaN,NaN,NaN,NaN
3,honda,city,automatic,1.0,petrol,1498.0,5061.0,1.0,1227000.0,NaN,NaN,NaN,NaN,NaN

In [15]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ExemploLeitura").getOrCreate()

# Leitura de um arquivo CSV
df_pyspark = spark.read.csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv", header=True, inferSchema=True)

In [31]:
#Nomes das colunas
for i in df_pandas.columns:
  print(i)

brand
model
transmission
age
fuel
engine
km
owner
price
location
mileage
power
seats
type

In [17]:
# Seleciona colunas específicas - Pandas
df_selecionado_pandas = df_pandas[['brand', 'model','transmission']]

In [18]:
# Seleciona colunas específicas - PySpark
df_selecionado_spark = df_pyspark.select('brand', 'model','transmission')

In [19]:
# Filtra linhas onde coluna1 > 50 - Pandas
df_filtrado_pandas = df_pandas[df_pandas['price'] > 2]

In [20]:
# Filtra linhas onde coluna1 > 50 - PySpark
df_filtrado_spark = df_pyspark.filter(df_pyspark.price > 2)

In [23]:
# Calcula a média de coluna1 agrupada por coluna2 - Pandas
df_agregado_pandas = df_pandas.groupby('age')['km'].mean().reset_index()

In [24]:
# Calcula a média de coluna1 agrupada por coluna2 - PySpark
from pyspark.sql.functions import avg

# Calcula a média de coluna1 agrupada por coluna2
df_agregado_spark = df_pyspark.groupBy("age").agg(avg("km").alias("media_age_km"))

In [25]:
df_selecionado_spark.show(5)
df_filtrado_spark.show(5)
df_agregado_spark.show(5)

+--------+--------+------------+
|   brand|   model|transmission|
+--------+--------+------------+
|mahindra|    thar|      manual|
| hyundai|   verna|      manual|
|    tata| harrier|      manual|
|   honda|    city|   automatic|
|    ford|ecosport|      manual|
+--------+--------+------------+
only showing top 5 rows

+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|   brand|   model|transmission|age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|
+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|mahindra|    thar|      manual|4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   verna|      manual|6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL|
|    tata| harrier|      manual|2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL|
|   honda|    city|   automatic|1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL|
|    ford|ecosport|      manual|3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL|
+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
only showing top 5 rows

+----+------------------+
| age|      media_age_km|
+----+------------------+
| 8.0|61032.198736176935|
| 0.0|            8659.5|
| 7.0| 59134.80208921513|
|29.0|           22612.0|
|NULL|           13794.0|
+----+------------------+
only showing top 5 rows

In [35]:
# Junção de dois DataFrames pandas

df1 = pd.read_csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv")
df2 = pd.read_csv("/root/.cache/kagglehub/datasets/octopusteam/imdb-top-rated-titles-movies-and-tv-series/versions/13/data.csv")

df_concat_horizontal = pd.concat([df1, df2], axis=1)

In [36]:
# Junção de dois DataFrames PySpark
df1 = spark.read.csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv", header=True, inferSchema=True)
df2 = spark.read.csv("/root/.cache/kagglehub/datasets/octopusteam/imdb-top-rated-titles-movies-and-tv-series/versions/13/data.csv", header=True, inferSchema=True)

df_juncao = df1.join(df2, on="type", how="left")

df_juncao.show()

+----+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+-----+------+-------------+--------+-----------+
|type|   brand|   model|transmission| age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|  id|title|genres|averageRating|numVotes|releaseYear|
+----+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+-----+------+-------------+--------+-----------+
|NULL|mahindra|    thar|      manual| 4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL| hyundai|   verna|      manual| 6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|    tata| harrier|      manual| 2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|   honda|    city|   automatic| 1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|    ford|ecosport|      manual| 3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|   honda|    wr-v|      manual| 3.0|petrol|1199.0|44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|    tata|   punch|      manual| 2.0|petrol|1199.0|  450.0|  1.0| 813000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|    tata|   nexon|   automatic| 4.0|diesel|  NULL|59866.0|  1.0| 728000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|mahindra|  xuv700|   automatic| 2.0|diesel|2184.0|62567.0|  1.0|2322000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|    ford|ecosport|   automatic| 5.0|petrol|1497.0|58503.0|  1.0| 766000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|  maruti|   dzire|      manual| 6.0|petrol|1197.0|58159.0|  1.0| 471000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL| hyundai|   grand|      manual| 1.0|petrol|1197.0|15568.0|  1.0| 689000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|    tata|   tiago|      manual| 1.0|petrol|1199.0| 6676.0|  1.0| 536000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL| hyundai|   creta|      manual| 6.0|petrol|  NULL|59085.0|  1.0| 823000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|  maruti|    alto|      manual| 6.0|petrol| 998.0|52966.0|  1.0| 310000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL| hyundai|   verna|      manual| 4.0|diesel|1582.0|60592.0|  1.0| 993000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|  maruti|    alto|   automatic|10.0|petrol| 998.0|71297.0|  1.0| 265000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|   honda|   amaze|      manual| 2.0|petrol|1199.0|15935.0|  1.0| 699000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL|     kia|  seltos|      manual| 3.0|diesel|1493.0|71040.0|  1.0| 980000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
|NULL| hyundai|   grand|      manual| 1.0|petrol|1197.0| 2850.0|  1.0| 710000.0|    NULL|   NULL| NULL| NULL|NULL| NULL|  NULL|         NULL|    NULL|       NULL|
+----+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+-----+------+-------------+--------+-----------+
only showing top 20 rows